*{
margin: 0;
padding: 0px;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
scroll-behavior: smooth;
}   


p{
font-weight: 300;
color: green;
}

.banniere .contenu{
max-width: 76%;
text-align: center;
}

.banniere .contenu h2{
font-size: 3em;
text-transform: capitalize;
color: red;
}

.contenu p :nth-child(2){
font-size: 1,2em;
}

.btn1{
font-size: 1em;
color: white;
background: #2a4963;
padding: 10px 20px;
display: inline-block;
margin-top: 20px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: 0.5s;
margin-left: 10px;
}

.btn2{
  font-size: 1em;
  color: white;
  background: #fb911f;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-left: 10px;
  }

  .btn1:hover{
 letter-spacing: 4px;
  }

  .btn2:hover{
  letter-spacing: 4px;
     }

header{
position: fixed;
top: 0%;
left: 0%;
padding: 20px 10px;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-evenly;
align-items: center;
transition: 0.5s;
}

.logo{
color: white;
font-weight: bold;
font-size: 2em;
text-decoration: none;
}

.logo span{
color: #fb911e;
}

.navbar{
display: flex;
position: relative;
}

.navbar li{
list-style: none;
}

.navbar li a:hover{
color: #fb911f;
border-bottom: 2px #fb911f solid #fb911f;
}

.banniere{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url(../IMG/shopping-entre-filles-istock-martin-dm.jpg);
background-size: unset;
box-sizing: cover;
}

.navbar a{
color: gold;
text-decoration: none;
margin-left: 30px;
font-weight: 700;
}

section{
padding: 100px;
}



 

.titre-texte{
color: black;
font-size: 2em;
font-weight: 300;
text-transform: capitalize;
background-image: url(../IMG/CLAIRE.jpg);
}

.titre-texte span {
color: #fb911f;
font-size: 1.5em;
font-weight: 700px;
}

.contenu{
margin-top: 100px;
}

.vente .contenu{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: auto;
margin-top: 40px;
}

.vente .contenu .box{
  width: 350px;
  margin: 20px;
  border: 20px solid #ffffff;
  box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);

}

.vente .contenu .box .imbox{
position: relative;
width: 100%;
height: 300px;
}

.Achats{
  margin-top: -100px;

}

.btn-acheter {
font-size: 1em;
color: #fff;
background: #fb911f;
padding: 10px 20px;
display: inline-block;
margin-top: 20px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.5s;
margin-left: 10px;
 }

 .btn-acheter{
background: #d87718;
transition: ease-out;
 }

 .radio{
margin-top: -10000px;
 }

 .contact{
background-image: url(../IMG/ACHAT.jpg);
background-size: cover;
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
width: 100%;
background-position: unset;
 }

 .contactform{
   padding: 75px 50px;
   background: #fff;
   box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
   max-width: 500px;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   margin-left: 18%;
 }

 .contactform .imputboite{
color: #111;
font-size: 1.2em;
margin-bottom: 20px;
 }

 .contactform h3{
   color: #111;
   font-size: 1.2em;
   margin-bottom: 20px;
 }
  
.contactform ul{
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contactform li{
color: #111;
font-size: 1.2em;
margin-bottom: 20px;
}


section{
padding: 100px;
}

.row{
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
}

.row .col50{
position: relative;
width: 40%;
justify-content: center;
align-items: center;
}




  